.footer{
  display: flex;
  justify-content: center;
  .wrapper{
    font-family: 'Alef', sans-serif;
  }
  .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 114px;
    .contacts{
      font-size: 34px;
      font-weight: 700;
    }
    .text{
      font-size: 18px;
      margin-top: 20px;
      .second{
        display: flex;
        justify-content: center;
      }
    }
  }
  .bottom{
    display: flex;
    width: 342px;
    flex-direction: column;
    align-items: center;
    .btn{
      display: flex;
      padding: 12px 29px;
      border-radius: 25px;
      background-color: black;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      cursor: pointer;
    }
    .controls{
      display: flex;
      margin-top: 86px;
      .pichers{
        margin-right: 60px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .end{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #828282;
      margin-top: 45px;
      margin-bottom: 50px;
    }
  }
}